/* Start Global style*/
/*.pagecontainer {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #e9ebee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    width: 80%;
    margin: auto;
    padding: 20px;
    height: 100%
}
.login, .register {
    width: 50%
}
*/