#UsrTitle{
    text-align:center;
}
#PhoneT{
    width:100%;
    margin-top: 30px;
}
#FirstN {
    margin-left: 1%;
    margin-top: 10px;
    border: solid;

}
#LastN {
    margin-left: 15%;
    margin-top: -41px;
    border: solid;
}
#department {
    margin-left: 28%;
    margin-top: -41px;
    border: solid;
}
#email {
    margin-left: 43%;
    margin-top: -41px;
    border: solid;
}
#Phonenumber {
    margin-left: 60%;
    margin-top: -41px;
    border: solid;
}
#extensionnumber {
    margin-left: 80%;
    margin-top: -41px;
    border: solid;
}
#faxnumber {
    margin-left: 90%;
    margin-top: -41px;
    border: solid;
}
